.body{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.people-list{
  list-style-type: none;
  }

.person{
  width:100%;
  display: block;
  margin-left:-20px;
  margin-bottom:20px;
}

.person-img{
  width:150px;
  height:150px
  border-radius:50px;
  margin:0;
  float:right;
}

.img-container, .status{
  display: inline-block;
  position:relative;
}

.img-container{
  width:175px;
  heighr:100%;
}

/*.status p{
  padding: 5px;
  margin-left:10px;
}*/

.busy{
  background-color: #C3272B;
}

.avail{
  background-color: #36D7B7;
}
